USE [master]
GO
/****** Object:  Database [UserAccounts]    Script Date: 7/12/2025 6:00:39 PM ******/
CREATE DATABASE [UserAccounts]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UserAccounts', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UserAccounts.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UserAccounts_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UserAccounts_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UserAccounts].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UserAccounts]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 7/12/2025 6:00:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountId] [int] NULL,
	[Username] [varchar](200) NULL,
	[Password] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructors]    Script Date: 7/12/2025 6:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructors](
	[ID] [int] NULL,
	[Name] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 7/12/2025 6:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[ID] [int] NULL,
	[Name] [varchar](200) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Accounts] ([AccountId], [Username], [Password]) VALUES (2001971, N'raysha23', N'12345')
INSERT [dbo].[Accounts] ([AccountId], [Username], [Password]) VALUES (200, N'Daryll', N'12342131')
INSERT [dbo].[Accounts] ([AccountId], [Username], [Password]) VALUES (2001, N'Epoy', N'213213213')
GO
USE [master]
GO
